* :root {
    --dark: #697184; 
    --light: #F2F1EF; 
}

body {
    margin: auto;
    font-family: monospace;
    font-size: 20px;
    background-color: rgb(20, 20, 20);
    
}

nav {
    border-radius: 5px;
    margin: 16px;
    padding: 16px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    color: red;
    font-size: 24px;
    margin-right: 32px;
    padding: 16px 32px;
    box-sizing: border-box;
    background-color: white;
    border-radius: 20px;    
}

nav ul a {
    text-decoration: none;
    font-weight: bold;
}

nav ul a:hover {
    text-decoration: underline;
}

main {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
    color: lightslategray;
    vertical-align: center;
}

.btn a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

button {
    border: none;
    background-color: #697184;
    color: white;
    border-radius: 20px;
    padding: 16px 16px;
    font-size: 20px;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: rgba(90, 49, 136, 0.308);
}

input[type=text] {
    padding: 20px;
    border-radius: 20px;
}

ol {
    width: 25%;
    margin: auto;
}

form {
    visibility: hidden;
}