* :root {
    --dark: #697184; 
    --light: #F2F1EF; 
}

body {
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

nav {
    background-color: #697184;
    border-radius: 5px;
    margin: 16px;
    padding: 16px;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    color: #F2F1EF;
    font-size: 24px;
    margin-right: 32px;
    box-sizing: border-box;
}

nav ul a {
    text-decoration: none;
    color: #F2F1EF;
}

nav ul a:hover {
    background-color: #F2F1EF;
    color: #697184;
}

main {
    text-align: center;
    margin: auto;
    width: 60%;
    padding: 10px;
    color: lightslategray;
}

p {
    font-size: 20px;
}

.btn a {
    text-decoration: none;
    color: white;
}

button {
    border: none;
    background-color: #697184;
    color: white;
    border-radius: 5px;
    padding: 10px 16px 10px 16px;
    font-size: 17px;
    font-family: 'Roboto Slab', arial;
    margin: 4px;
}

button:hover {
    transition-duration: 0.4s;
    background-color: #D49E8D;
}

input[type=text] {
    padding: 8px;
    border-radius: 5px;
}

ol {
    width: 25%;
    margin: auto;
}

form {
    visibility: hidden;
}